<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>profile setting</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <form productId="profileForm" action="/user/profile" method="post">
                    <div class="form-group row">
                        <label for="nickName" class="col-3 col-form-label text-right"></label>
                        <div class="col-9">
                            <h4 class="bg-success text-center" th:if="${updated}">update completed</h4>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nickName" class="col-3 col-form-label text-right">nick name</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="nickName" productId="nickName"
                                   th:value="${userAccount.nickName}" placeholder="nick name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label text-right">email</label>
                        <div class="col-9">
                            <input type="email" class="form-control" name="email" productId="email"
                                   th:value="${userAccount.email}" placeholder="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mobile" class="col-3 col-form-label text-right">mobile</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="mobile" productId="mobile"
                                   th:value="${userAccount.mobile}" placeholder="mobile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="province" class="col-3 col-form-label text-right">省/市</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="province" productId="province"
                                   th:value="${userAccount.province}" placeholder="province">
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" name="city" productId="city" th:value="${userAccount.city}"
                                   placeholder="city">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-3 col-form-label text-right">adsress</label>
                        <div class="col-9">
                            <input type="text" class="form-control" name="address" productId="address"
                                   th:value="${userAccount.address}" placeholder="address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthday" class="col-3 col-form-label text-right">birthday</label>
                        <div class="col-9">
                            <input type="date" class="form-control" name="birthday" productId="birthday"
                                   th:value="${userAccount.birthday!=null?(#temporals.format(userAccount.birthday,'yyyy-MM-dd')):('')}"
                                   placeholder="生日 yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthday" class="col-3 col-form-label"></label>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">submit</button>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-sm" href="/logout">logout</a>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</section>
<script src="../static/assets/jquery-3.4.1.min.js"
        th:src="@{/assets/jquery-3.4.1.min.js}"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"
        th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/localforage.min.js}" src="../static/assets/localforage.min.js"></script>
</body>
</html>
